.player-technical-info {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 8px;
}

.technical-details {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;  /* Asigna el mismo espacio a cada columna */
  padding: 20px;
}

.skills p {
  margin: 5px 0; /* Espaciado vertical para los elementos de habilidades */
}

h2{
  text-align: center;
}