.tablon {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Establece tres columnas */
    gap: 20px; /* Espacio entre columnas y filas */
    padding: 20px; /* Padding alrededor de los elementos del grid */
    width: 100%; /* Asegura que el contenedor use todo el ancho disponible */
  }
