@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500&display=swap');


html,body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /* Utiliza un peso más bold para los encabezados */
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Peso normal para texto */
}