.navbar {
  background-color: #00755c;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Ropa Sans', sans-serif;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 100px;
}
.navbar-logo img:hover {
  
  background-color: #b2dfdb;
  
}

svg:hover {
  
  background-color: #b2dfdb;
  
}


.nav-menu {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-item {
  padding: 0.5rem 1rem;
}

.nav-links {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.nav-links:hover {
  color: #b2dfdb;
}

.nav-icon {
  display: flex;
  gap: 1rem;
}

.nav-icon a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px 0 0 20px;
  outline: none;
  width: 200px;
}

.search-button {
  padding: 0.5rem;
  border: none;
  background-color: #002e34;
  color: white;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button svg {
  width: 16px;
  height: 16px;
}