/* Estilos generales del cuerpo y de la página */
body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 960px;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 20px;
}

h1, h2, h3 {
  color: #333;
}

/* Flex container para alinear elementos lado a lado */
.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Columnas para flex-row */
.flex-column {
  flex: 1; /* Cada columna toma igual espacio */
  margin: 10px;
}

/* Estilos específicos para el perfil de jugador */
.player-profile {
  display: flex;
  margin-bottom: 20px;
}

.player-profile-column {
  flex: 1;
  text-align: center; /* Centrar la imagen y el apodo */
}

.player-profile-column img {
  max-width: 100%;
  height: auto;
  border-radius: 50%; /* Hace la imagen redonda */
  margin-bottom: 10px;
}

.player-info {
  flex: 2; /* Dos veces el ancho de la columna de imagen */
  padding-left: 20px;
}

.info-label {
  font-weight: bold;
}

/* Historial del jugador */
.player-history, .player-technical-info, .work-info, .reviews {
  width: 100%;
  margin-bottom: 20px;
}

.history-slider, .technical-details {
  display: flex;
  overflow-x: auto;
  padding: 10px;
}

.history-card, .column {
  flex: none; /* No crecen ni se encogen */
  margin-right: 10px;
}

/* Estilo para el bloque de Situación Laboral y Reseñas */
.work-info, .reviews {
  display: flex;
}

.work-info table, .reviews {
  flex: 1;
  margin-right: 20px;
  padding: 10px;
}