h1 {
  text-align: center;
}

.player-profile {
  background-color: white;
  color: black;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  align-items: flex-start;
  /* Alinea los elementos al principio del contenedor */
}

.player-profile-column {
  flex: 1;
  /* Ajusta la flexibilidad de la columna */
  max-width: calc(50% - 20px);
  /* Ajusta el ancho máximo restando el padding */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* Añade padding alrededor de la imagen y el apodo */
}

.player-image {
  max-width: 50%;
  /* Ajusta el ancho de la imagen al contenedor */
  height: auto;
  margin-bottom: 10px;
  /* Reduce el espacio entre la imagen y el apodo */
  border: #198754 solid 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.player-nickname {
  font-size: 1.2em;
  /* Ajusta el tamaño del apodo */
  margin-bottom: 10px;
  /* Reduce el espacio debajo del apodo */
}

.player-info {
  max-width: 50%;
  /* Asegúrate de que la información no sea más ancha que la mitad del perfil */
  flex-direction: column;
  justify-content: center;
}

.info-item {
  display: flex;
  /* Usa flexbox para alinear etiqueta y valor */
  align-items: center;
  /* Centra los elementos verticalmente */
  margin: 4px 0;
  /* Reduce el margen entre elementos de información */
}

.info-label {
  font-weight: bold;
  margin-right: 5px;
  /* Añade un pequeño margen entre la etiqueta y el valor */
}

/* Ajustes responsivos para vistas móviles */
@media (max-width: 768px) {
  .player-profile {
    flex-direction: column;
    align-items: center;
    /* Centra los elementos en dispositivos móviles */
  }

  .player-profile-column,
  .player-info {
    max-width: 100%;
    /* Los elementos ocupan el ancho completo en dispositivos móviles */
    padding: 20px;
  }

  .player-image {
    max-width: 80%;
    /* Ajusta el ancho de la imagen en dispositivos móviles */
  }
}








/* PlayerHistory.css */

.player-history {
  background-color: #198754;
  /* Verde oscuro de la imagen */
  padding: 20px;
  text-align: center;
  /* Centrar el título y las flechas */
  color: white;
  /* Texto en blanco */
}

.history-slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  /* Esconde las tarjetas que excedan el ancho */
}

.history-card {
  margin: 0 10px;
  /* Añade espacio entre las tarjetas */
  background-color: #81C784;
  /* Verde claro para las tarjetas */
  border-radius: 10px;
  /* Bordes redondeados de las tarjetas */
  padding: 10px;
  width: 200px;
  /* Ancho de las tarjetas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Sombra suave para profundidad */
}

.team-shield {
  width: 50px;
  /* Tamaño del escudo */
  height: auto;
  margin-bottom: 10px;
  /* Espacio entre el escudo y el texto */
}

.slide-arrow {
  background: none;
  border: none;
  cursor: pointer;
}

.left-arrow,
.right-arrow {
  padding: 0 20px;
}

.left-arrow img,
.right-arrow img {
  width: 25px;
  /* Tamaño de las flechas */
  height: auto;
}



.player-technical-info {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 8px;
}

.technical-details {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  /* Asigna el mismo espacio a cada columna */
  padding: 20px;
}

.skills p {
  margin: 5px 0;
  /* Espaciado vertical para los elementos de habilidades */
}

h2 {
  text-align: center;
}





/* PlayerWorkEducation.css */

.player-work-education {
  background-color: #A5D6A7;
  /* Otro tono de verde */
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Añadir estilos para los detalles de educación y trabajo, como horarios, lugar, etc. */