h1 {
  text-align: center;
}

h2 {
  color: #0E1822;
}

h2{
  display: flex;
  justify-content: center;
}
h2 button{
  
  margin-left: 20px;

  max-height: 50px;
}

.player-profile {
  background: linear-gradient(to right, #002e34, #00c16c);
  /* Gradiente desde azul oscuro a verde */
  color: black;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  align-items: flex-start;
  /* Alinea los elementos al principio del contenedor */
}

.player-profile-column {
  flex: 1;
  /* Ajusta la flexibilidad de la columna */
  max-width: calc(50% - 20px);
  /* Ajusta el ancho máximo restando el padding */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* Añade padding alrededor de la imagen y el apodo */
}

.player-image {
  max-width: 50%;
  /* Ajusta el ancho de la imagen al contenedor */
  max-height: 400px;
  margin-bottom: 10px;
  /* Reduce el espacio entre la imagen y el apodo */
  border: #002e34 solid 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background-color: white;
}

.player-nickname {
  font-size: 1.2em;
  /* Ajusta el tamaño del apodo */
  margin-bottom: 10px;
  /* Reduce el espacio debajo del apodo */
  color: #90ff17;
}

.player-info {
  max-width: 50%;
  /* Asegúrate de que la información no sea más ancha que la mitad del perfil */
  flex-direction: column;
  justify-content: center;
}

.info-item {
  display: flex;
  /* Usa flexbox para alinear etiqueta y valor */
  align-items: center;
  /* Centra los elementos verticalmente */
  margin: 4px 0;
  /* Reduce el margen entre elementos de información */
}

.info-label {
  font-weight: bold;
  margin-right: 5px;
  /* Añade un pequeño margen entre la etiqueta y el valor */
}

/* Ajustes responsivos para vistas móviles */
@media (max-width: 768px) {
  .player-profile {
    flex-direction: column;
    align-items: center;
    /* Centra los elementos en dispositivos móviles */
  }

  .player-profile-column,
  .player-info {
    max-width: 100%;
    /* Los elementos ocupan el ancho completo en dispositivos móviles */
    padding: 20px;
  }

  .player-image {
    max-width: 80%;
    /* Ajusta el ancho de la imagen en dispositivos móviles */
  }
}


/* PlayerHistory.css */

.player-history {
  /* Verde oscuro de la imagen */
  padding: 20px;
  text-align: center;
  /* Centrar el título y las flechas */
  color: white;
  /* Texto en blanco */
}

.history-slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  /* Esconde las tarjetas que excedan el ancho */
}

.history-card {
  margin: 0 10px;
  /* Añade espacio entre las tarjetas */
  background-color: #002e34;
  /* Verde claro para las tarjetas */
  border-radius: 10px;
  /* Bordes redondeados de las tarjetas */
  padding: 10px;
  width: 200px;
  /* Ancho de las tarjetas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Sombra suave para profundidad */
}

.team-shield {
  width: 50px;
  /* Tamaño del escudo */
  height: auto;
  margin-bottom: 10px;
  /* Espacio entre el escudo y el texto */
}

.slide-arrow {
  background: none;
  border: none;
  cursor: pointer;
}

.left-arrow,
.right-arrow {
  padding: 0 20px;
}

.left-arrow img,
.right-arrow img {
  width: 50px;
  /* Tamaño de las flechas */
  height: auto;
}

.right-arrow {
  display: flex;
  /* Utiliza flexbox para facilitar la alineación */
  justify-content: flex-end;
  /* Alinea los elementos hijos (img) al final del contenedor, que es la derecha */
}





.player-technical-info {
  background: linear-gradient(to top, #A5D6A7, #00755c);
  /* Gradiente de verde claro a verde oscuro */

  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.technical-details {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  /* Asigna el mismo espacio a cada columna */
  padding: 20px;
}

.skills p {
  margin: 5px 0;
  /* Espaciado vertical para los elementos de habilidades */
}

h2 {
  text-align: center;
}





/* PlayerWorkEducation.css */

.player-work-education {
  background-color: #A5D6A7;
  /* Otro tono de verde */
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Añadir estilos para los detalles de educación y trabajo, como horarios, lugar, etc. */

/* Contenedor principal para situar ambos bloques en la misma fila */
.work-reviews-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Estilos para los bloques individuales */
.work-info,
.reviews {
  flex: 1;
  /* Asigna el mismo espacio a cada columna */
  padding: 20px;
  margin: 10px;
  background: linear-gradient(to bottom, #A5D6A7, #00755c);
  /* Gradiente como en el diseño anterior */
  color: white;
  border-radius: 10px;
}

/* Estilos para las tablas dentro de work-info */
.work-info table {
  width: 100%;
  /* Asegura que la tabla utilice todo el ancho disponible */
  border-collapse: collapse;
  /* Elimina el espacio entre bordes de celdas */
}

.work-info td {
  padding: 8px;
  /* Añade un poco de padding a las celdas para mejor legibilidad */
  border-bottom: 1px solid #ffffff;
  /* Añade una línea entre filas */
  text-align: center;
}

/* Ajustes responsivos para vistas móviles */
@media (max-width: 768px) {
  .work-reviews-container {
    flex-direction: column;
    /* Cambia a disposición vertical en dispositivos móviles */
  }

  .work-info,
  .reviews {
    margin: 10px 0;
    /* Ajusta márgenes para el layout vertical */
  }
}



.reviews {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(to bottom, #A5D6A7, #00755c);
  /* Gradiente como en el diseño anterior */
  color: white;
  border-radius: 10px;
  margin: 10px;
}

.review {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background: #002e34;
  border-radius: 8px;
}

.review img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #ffffff;
}

.review p {
  margin: 0 10px;
}

.review small {
  margin-left: auto;
  color: #ccc;
}